<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Stalinist+One&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <h3 id="small-logo">P.A.C.O.</h3>
      <ul class="right" id="login-icon">
          <li>
          <% if (user) { %>
              <a href="/logout">Log Out</a>
          <% } else { %>
              <a href="/auth/google">Login with Google</a>
          <% } %>
          </li>
      </ul>
    </nav>
    <br>
    <div class="bg-dark">
    <h1 id="jumbotron"><%= title %></h1>
    <h2 id="jumbotron-explain">PLUGIN AUDIO COLLECTION ORGANIZER</h2>
    <p class="text-center text-info">P.A.C.O. is an acranym for plugin audio collection organizer. PACO is an idea spawned from years of audio work in the film post production and music industry. After years of working with hundreds of plugins and trying to keep track of all of them we decided to try and make a difference in how we organize and share those plugins. 
       Sign in and add your projects and the plugins you're working on. PACO gives you the ability to organize and share you plugins with other artists, musicians, composers, designers and anybody else who needs to know what to install and have ready or maybe you just want to flex a little and show how you put that mad vocal together. Whatever the reason, PACO gives you the platform to make sharing your creative process a reality. 
    </p>
    <br>
    </div>
  </body>
</html>
