<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h2>Enter a New Movie</h2>
        <form action="/users" method="POST">
            <label>Name:
              <input type="text" name="name">
            </label><br>
            <label>Email:
              <input type="text" name="email">
            </label><br>
            <label>Password:
              <input type="password" name="password">
            </label><br>
            <label>Now Showing:
              <input type="password" name="password_confirmation">
            </label><br>
            <input type="submit" value="Add User">
        </form>
</body>
</html>