body {
  background-image: url("https://i.imgur.com/3pi69m8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.brand-logo {
  margin-left: 15px;
}

#add-comment-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#nav-badge {
  justify-content: space-between;
}


