body {
  background-image: url("https://i.imgur.com/3pi69m8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.brand-logo {
  margin-left: 15px;
}

#add-comment-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#nav-badge {
  justify-content: space-between;
}

#jumbotron {
  font-family: 'Stalinist One', cursive;
  color: coral;
  text-align: center;
  font-size: 150px;
}

#jumbotron-explain {
  font-family: 'Righteous', cursive;
  color: black;
  text-align: center;
}

#small-logo {
  font-family: 'Stalinist One', cursive;
  color: black;
}

#login-icon {
  font-family: 'Righteous', cursive;
  color: coral;
}

#index-list {
  font-family: 'Righteous', cursive;  
}

#new-plugin {
  font-family: 'Righteous', cursive; 
  font-size: 50px; 
}